<!DOCTYPE html>
<html lang="en" dir="ltr">
<center>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%= @message.text %>
    <br>
    <br>
    <% @message.tags.each do |tag| %>
      <%= tag.text %>
    <% end %>
    <br>
    <%= @message.time %>
    <br>

<div>
  <form action="/edit-message/<%= @message.id %>" method="get">
    <input type="submit" value="Edit message" />
</form>
<form action="/delete-message/<%= @message.id %>" method="post">
  <input type="submit" value="Delete message" />
</form>
<div>
  <form action="/">
    <input type="submit" value="Back to Homepage" />
</form>
</body>
</center>
</html>
