<!DOCTYPE html>
<html lang="en" dir="ltr">
  <center>
  <head>
    <link rel="stylesheet" type="text/css" href="<%= url("/style/master.css")%>">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%= erb(:textarea, :locals => {
      :object => "new-message",
      :content => nil,
      :value => nil
    }) %>
    <% @message.reverse.each do |message| %>
      <br>
      <div>
      <a href = "/messages/<%= message.id %>"> <%= message.display %> </a>
      </div>
        <% message.tags.each do |tag| %>
          <%= tag.text %>
        <% end %>
        <br>
        <%= message.time %>
        <br>
    <% end %>
  </body>
  </center>
</html>
